body {
  margin: 30px 475px;
}
header {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, header, main {
  background-color: #999999;
}
footer {
  background-color: #fffcaf;
  height: 25px;
}
h1 {
  font-size: 35px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 20px;
}
p, ul, ol {
  font-size: 14px;
}
ol {
  margin-left: 360px;
}

hr {
  border: 1px ridge #fffcaf;
  height: 2px;
}

img {
  width: 100px;
}

main>div>article>img {
  width: 350px;
  margin: 25px;
}

.wrapper {
  text-align: center;
}
.left-align{
  text-align: left;
}
.right-align{
  text-align: right;
}
.purple-header{
  color: #533069;
}
.box{
  width: 400px;
  background: #e6e6e6;
  padding: 15px;
  border: 3px solid #fffcaf;
  margin: 25px;
  border-radius: 10px;
}

  a:link {color: #612F67;}
  a:visited {color: #e6e6e6;}
  a:hover {color: #AFAFDC;}
  a:active{color: #fffcaf;}